{% extends 'base.html' %}
{% block title %}
    User Profile
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h2 class="text-center">User Profile</h2>
        {% from 'macros.html' import render_pagination %}


        <div class="profile-info mt-4">
            <h4>Username: {{ current_user.username }}</h4>
            <p>Email: {{ current_user.email }}</p>
        </div>
        <div class="mt-4">
            <h4>Your Reviews</h4>
            <h3>{{ current_user.reviews.all()|length }}</h3>
            {% for review in current_user.reviews %}
            <div class="review">
                <h5>{{ review.book.title }}</h5>
                <p>{{ review.review }}</p>
                <a href="{{ url_for('library.delete_review', review_id=review.id) }}" class="btn btn-sm btn-danger">Delete</a>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}